body {
    background-color: blanchedalmond;
    font: italic 14pt Arial;
}

header {
    text-align:center;
    color:rgb(36, 10, 10);
    font: italic 20pt Arial;
}

section {
    background-color: white;
    border-radius: 18px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 5px 5px 10px gray;
    text-align:center;
}